body { 
    text-align: center; 
}
h1 {
    font-size: 40px; 
    font-family: sans-serif; 
    font-weight: 300; 
} #app { 
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}
#game{ 
    width: 100%;
    height: 800px;
    background-color:lightcoral;
}
#Chatbot{
    width: 100%;
    height: 800px; 
    background-color:lightcoral;
}  
img { 
    transition: transform .2s; 
}
img:hover { 
    transform: scale(0.9); 
} 
.line {
    height: 6px;
    background-color: #000; 
    width: 70px; 
    margin: 8px auto;
}0
.container{
    text-align: center;
}
#mycarousel{
    background-color: red;  
}
#mycarousel ing{
    height: 300px;
    margin-top: 30px;
}    
.carousel-inner p{
margin-bottom: 15px;
    margin-top: 15px;
    color: aliceblue;
    font-size: 50px;
}